<div class="SearchContainer">
  <div class="wrapper">
    <div class="searchboard">
      <div class="title">
        <h2>WELCOME!</h2>
        <h2>Here you can find a movie, tv-shows, animations for your taste!</h2>
      </div>
    </div>
    <div class="input-search">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="search" type="text" pInputText placeholder="Search">         
    </span>
    
      <button class="btn" pButton type="button" icon="pi pi-check">
        search
      </button>
    </div>
   
  </div>
</div>
