.sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3%;
    padding: 10px;
}

.sort-menu {
    padding-left: 10px;
}

.btn-sort-item {
    padding: 3px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.19);
}

.sort-text {
    background: transparent;
}