<div class="wrapper">
  <div>
    <div>
      <h2>{{ title }}</h2>
    </div>
    <div class="filter">
      <app-filter
        (filterDataEvent)="filter($event)"
        (resetFilterEvent)="resetFilter($event)"
        [genresToFilter]="genresToFilter"
      >
      </app-filter>
    </div>
  </div>
  <div class="cards-container">
    <ng-container *ngIf="!filterMovies.length; else filteredMoviesExist">
      <div *ngFor="let movie of movies">
        <app-cards
          [cardId]="movie.id"
          [title]="movie.title"
          [date]="movie.release_date"
          [poster_path]="movie.poster_path"
          [vote_average]="movie.vote_average"
        >
        </app-cards>
      </div>
    </ng-container>
    <ng-template #filteredMoviesExist>
      <div *ngFor="let movie of filterMovies">
        <app-cards
          [title]="movie.title"
          [date]="movie.release_date"
          [poster_path]="movie.poster_path"
          [vote_average]="movie.vote_average"
        >
        </app-cards>
      </div>
    </ng-template>

    <p-button (click)="loadMore()" label="LOAD MORE"></p-button>
  </div>
</div>
