<div class="filter2">
    <form
      class="checkBox"
      [formGroup]="form"
      (ngSubmit)="submitForm()"
      novalidate
    >
      <div *ngFor="let data of Data; let i = index">
        <label>
          <input
            type="checkbox"
            [value]="data.id"
            (change)="onCheckboxChange($event)"
          />
          {{ data.name }}
        </label>
      </div>
      <div class="filterButt">
        <input class="inputButton" type="submit" value="Submit" />
        <button (click)="resetFilter()">Reset</button>
      </div>
    </form>
  </div>