.logo {
    color: rgb(214, 0, 0);
    padding-right: 400px;
    font-family: Bebas Neue;
    font-size: 40px;
    font-weight: 20px;
    text-decoration: none;
}

.logo {
    font-size: 40px;
    font-weight: 20px;
}

.link-text {
    text-decoration: none;
}